<main class="container">
  <%= link_to sanitize('&larr; Back to category'), category_path(@category) %>

  <div class="header">
    <h1>Edit category</h1>
  </div>
  <%= turbo_frame_tag @category do %>
    <%= render 'form', category: @category %>
  <% end %>
</main>
