<main class="container">
  <%= link_to sanitize('&larr; Back to categories'), categories_path %>

  <div class="header">
    <h1>New category</h1>
  </div>

  <%= render 'form', category: @category %>
</main>
