<main class="container">
  <%= link_to sanitize('&larr; Back to categories'), categories_path %>
  <div class="header">
    <h1>
      <%= @category.name %>
    </h1>

    <%=
      link_to 'New date',
        new_category_line_item_date_path(@category),
        class: 'btn btn--primary'
    %>
  </div>

  <%= render @line_item_dates, category: @category %>
</main>
