<main class="container">
  <%= link_to sanitize('&larr; Back to category'), category_path(@category) %>

  <div class="header">
    <h1>New task for <%= l(@line_item_date.date, format: :long) %></h1>
  </div>

  <%=
    render 'form',
       category: @category,
       line_item_date: @line_item_date,
       line_item: @line_item
  %>
</main>
